@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* blockquote in non-English */
blockquote[xml|lang]{
	font-style: italic;
}
/* end of blockquote in non-English */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}
/* end of poem/verse/song */

/* custom */
/* book within a book in Muse of the Department */
blockquote.olympia{
	margin-inline: 25%;
	text-align: justify;
}

blockquote.olympia header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

blockquote.olympia > p:first-of-type{
	hanging-punctuation: none;
}

blockquote.left-page header span{
	float: left;
}

blockquote.right-page header span{
	float: right;
}

#the-muse-of-the-department blockquote:nth-of-type(11) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(13) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(14) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(18) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(19) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(26) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(27) > p:first-of-type,
#the-muse-of-the-department blockquote:nth-of-type(29) > p:first-of-type{
	text-indent: 1em;
}

#the-muse-of-the-department blockquote:nth-last-of-type(2) p,
#the-muse-of-the-department blockquote:nth-last-of-type(3) p{
	font-style: italic;
	text-indent: 0;
}
/* end of book within a book */

p[epub|type~="dedication"]{
	font-style: italic;
	text-align: center;
}

#gaudissart-the-great h3{
	margin-bottom: 1em;
}

#dedication-2{
	margin-top: 3em;
}

#dedication-2 header{
	font-style: italic;
}

#dedication-2 header + *{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

[epub|type~="z3998:poem"] header p{
	text-align: center;
}

[epub|type~="z3998:poem"] footer p{
	text-align: right;
}
/* end of custom */
